:root {
    --cl-black: #333;
    --cl-red: #D82A30;
    --cl-primary-50: #f6f6f6;
    --bkg-subtle: #F0F0F0;
}
@font-face {
    font-family: "Motserrat";
    src: url(../fonts/Montserrat-Bold.otf) format(OpenType);
    font-display: swap;
    font-weight: 700;
}
@font-face {
    font-family: "Motserrat";
    src: url(../fonts/Montserrat-SemiBold.otf) format(OpenType);
    font-display: swap;
    font-weight: 600;
}
@font-face {
    font-family: "Motserrat";
    src: url(../fonts/Montserrat-Regular.otf) format(OpenType);
    font-display: swap;
}
body::-webkit-scrollbar-track {
    background-color: #fff;
}

body::-webkit-scrollbar {
    width: 7px;
    background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
    background: var(--cl-red);
}

html,
body {
    font-size: 16px;
}
body {
    font-family: 'Montserrat', sans-serif !important;
  }
.container {
    padding-left: 0.938rem;
    padding-right: 0.938rem;
}

a {
    transition: all .3s;
    &:hover,
    &:focus {
        color: #DFB557;
    }
}

input {
    outline: none;
}

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}
.img__ {
    position: relative;
    overflow: hidden;
}
.img__:hover::after {
    -webkit-animation: shine 0.75s;
    animation: shine 0.75s;
}
.img__::after {
    position: absolute;
    top: 0;
    left: -92%;
    z-index: 2;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.3)));
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.c-img {
    position: relative;
    display: block;

    img {
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.img_full img {
    width: 100%;
    height: auto;
}
.img-h-full img{
    height: 100%;
}

.img-cover img{
    object-fit: cover;
}

.img-contain img{
    object-fit: contain;
}

.s-content ol {
    list-style: decimal;
    margin-left: 15px;
    margin-bottom: 10px;
}

.s-content ul {
    list-style: initial;
    margin-left: 15px;
    margin-bottom: 10px;
}

.s-content li {
    list-style: inherit;
    margin-bottom: 5px;
}

.s-content p {
    margin-bottom: 10px;
}

.s-content img {
    display: block;
    max-width: 100%;
    margin: 10px auto;
    width: auto !important;
    -o-object-fit: contain;
    object-fit: contain;
    height: auto !important;
}

.s-content table,
.s-content iframe {
    max-width: 100%;
    width: 100%;
}

.s-content table {
    border-collapse: collapse;
    width: 100%;
    border: solid 1px #0000006e;
}

.s-content table td {
    border-collapse: collapse;
    border: solid 1px #0000006e;
    padding:3px
}

.s-content h1,
.s-content h2,
.s-content h3,
.s-content h4,
.s-content h5,
.s-content h6 {
    display: block;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.s-content h1{
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}

.s-content h2{
    font-size: 1.5em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.s-content h3 {
    font-size: 1.17em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.s-content h4 {
    font-size: 1em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.s-content h5 {
    font-size: 0.83em;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}

.s-content h6 {
    font-size: 0.67em;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}


@media (min-width: 1024px) {
    .wow {
        visibility: hidden;
    }
}

.menu{
    ul {
        li {
            a {
                font-weight: 600;
                font-size: .875rem;
                text-transform: uppercase;
                color:white;
            }
        }
    }
}

.menu-footer {
     ul {
        li {
            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }
            a {
                color: #6D6D6D;
            }
        }
    }
}
   

@media (min-width: 1024px) {

    .menu > ul {
        text-align: center;
    }
    .menu > ul > li {
        display: inline-block;
    }
    .menu > ul > li > a {
        padding: 1.25rem;
        display:block;
        &:hover, &.active {
            background: #fff;
            color: #454545;
        }
    }
}

@media (min-width:1280px){
    .menu > ul > li {
        &:not(:last-child) {
            margin-right: 2.188rem;
        }
    }
}

@media (min-width:1440px) {
    .container {
        max-width: 1240px;
    }
}

@media (max-width:1439px) {
    html,body {
        font-size: 14px;
    }
}

@media (max-width:1023px) {
    .menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        max-width: min(350px,80%);
        height: 100%;
        z-index: 100;
        background: #fff;
        box-shadow: 0 4px 10px rgba(0, 0, 0, .3);
        overflow-y: auto;
        transition: all .3s;
        &.active {
            left:0;
        }
        ul {
            li {
                border-top: 1px solid var(--cl-black);
                a {
                    display: block;
                    color: var(--cl-black);
                    padding: 1rem;
                }
            }
        }
    }
    .over-lay.show{
        right: 0;

    }
}

